#!/bin/bash

if [ ! -f $HOME/.ssh/*.pub  ]; then
    echo "*** WARNING: No ssh key found! Creating a new ssh key, like it or not!"
    ssh-keygen -t ed25519
    echo "===> *** *** SSH KEY *** ***"
    cat $HOME/.ssh/id_ed25519.pub
    echo "===> *** *** --- --- *** ***"
    echo "Before we continue, you will need to upload this key to Github! Do this and press any key to continue"
    read _

else
    echo "SSH key found, continuing... Hopefully key is on Github!"
fi

COMPLETE=$HOME/.config/chezmoi/.first-time-update-completed
# install packages
if [ ! -f $COMPLETE ]; then

# macos
{{ if eq .chezmoi.os "darwin" }} # mac
    # install brew
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    
    # install packages
    /opt/homebrew/bin/brew install direnv pyenv fzf uv pipx ranger neovim

# raspberry pi or similar
{{ else if eq .chezmoi.osRelease.id "debian" }} 
    echo "New machine! Performing first time package installation!"
    sudo apt update && sudo apt upgrade -y
    sudo apt install zsh fzf ranger bpytop neovim build-essential direnv

    # pyenv
    curl -fsSL https://pyenv.run | bash
    
    # lazygit
    curl -sL https://github.com/jesseduffield/lazygit/releases/download/v0.49.0/lazygit_0.49.0_Linux_arm64.tar.gz | tar xz -C "$HOME/bin" lazygit
    #done
{{ else }} # x86 linux assuming arch based
    echo "New machine! You are on arch, so no automation is provided. Git gud, noob."
{{ end }}
    touch $COMPLETE
fi

# install oh-my-zsh
if [ ! -d "$HOME/.oh-my-zsh" ]; then
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
    ZSH_CUSTOM=$HOME/.oh-my-zsh/custom

    # install spaceship
    git clone https://github.com/spaceship-prompt/spaceship-prompt.git "$ZSH_CUSTOM/themes/spaceship-prompt" --depth=1
    ln -s "$ZSH_CUSTOM/themes/spaceship-prompt/spaceship.zsh-theme" "$ZSH_CUSTOM/themes/spaceship.zsh-theme"

    # install zsh plugins
    git clone https://github.com/zsh-users/zsh-autosuggestions $ZSH_CUSTOM/plugins/zsh-autosuggestions
    git clone https://github.com/zsh-users/zsh-syntax-highlighting.git $ZSH_CUSTOM/plugins/zsh-syntax-highlighting
    git clone https://github.com/lukechilds/zsh-nvm $ZSH_CUSTOM/plugins/zsh-nvm
    git clone https://github.com/jeffreytse/zsh-vi-mode $ZSH_CUSTOM/plugins/zsh-vi-mode
    git clone https://github.com/joshskidmore/zsh-fzf-history-search $ZSH_CUSTOM/plugins/zsh-fzf-history-search

fi

# nvim Plug

PLUG_INSTALLATION="${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim
sh -c '[ -e $PLUG_INSTALLATION ] || curl -fLo $PLUG_INSTALLATION --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
