layout {
    pane {
        pane {
            command "vit"
            focus true
            name "TODOTODOTODO"
            size 18
        }
        pane {
            name "TERM"
            size 24
        }
        pane stacked=true {
            pane {
                name "PLATFORM API"
                cwd "$HOME/projects/Platform-USA/api"
            }
            pane {
                name "PLATFORM FRONTEND"
                cwd "$HOME/projects/Platform-USA/app"
            }
            pane {
                name "FUCKEN LIBS"
                cwd "$HOME/projects/Platform-USA/libraries/"
            }
            pane {
                name "TASKS"
                cwd "$HOME/projects/Platform-USA/tasks/"
            }
            pane {
                name "INFRASTRUCTURE"
                cwd "$HOME/projects/Infrastructure-USA"
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
