layout {
    pane {
        pane {
            borderless true
            command "tty-clock"
            args "-c"
            size 12
        }
        pane {
            borderless true
            command "bpytop"
            size 24
        }
        pane stacked=true {
            pane {
                command "vit"
                name "VIT"
                focus true
            }
            pane {
                name "PLATFORM API"
                cwd "$HOME/projects/Platform-USA/api"
            }
            pane {
                name "PLATFORM FRONTEND"
                cwd "$HOME/projects/Platform-USA/app"
            }
            pane {
                name "APX_BROKER"
                cwd "$HOME/projects/Platform-USA/tasks/apx-broker"
            }
            pane {
                name "PLATFORM CLIENT LIBRARY"
                cwd "$HOME/projects/Platform-USA/libraries/platform_client"
            }
            pane {
                name "INFRASTRUCTURE"
                cwd "$HOME/projects/Infrastructure-USA"
            }
        }
    }
}
