layout {
    pane {
        pane {
           command "$HOME/.local/share/watch-burn-down.sh"
           name ""
           args "burndown.daily"
           size 26
        }
        pane {
            command "vit"
            name "TODOTODOTODO"
            focus true
        }
    }
}
