layout {
    pane {
        pane {
            borderless true
            command "tty-clock"
            args "-c"
            size 10

        }
        pane {
           command "$HOME/.local/share/watch-burn-down.sh"
           borderless true
           args "burndown.daily"
           size 16
        }
        pane {
            command "vit"
            name "TODOTODOTODO"
            focus true
        }
    }
}
